[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew.git
[submodule "Coment"]
	path = Coment
	url = git@github.com:XMPPwocky/Coment.git
[submodule "assets"]
	path = assets
	url = ./assets
